@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {

  --font-default: "Press Start 2P", system-ui;

  --color-1: #021373;
  --color-2: #C4CDFF;
  --color-3: #7E8FF2;
  --color-4: #0E1333;
  --color-white: #F0F5EF;
  --color-black: #212530;
  --color-white-30: #ffffffb7;
  --color-black-30: #000000b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
}

body{
  background: var(--color-4);
}