.menuIndex{
    width: 90%;
    margin: 48px auto;
    .optionsMenu{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        h2{
            width: 100%;
            color: var(--color-white);
            text-align: center;
            margin-bottom: 24px;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            width: 20%;
            height: 48px;
            color: var(--color-white);
            text-decoration: none;
            background-color: var(--color-3);
            transform: skewX(-20deg);
            border-radius: 4px;
            box-shadow: inset 4px 4px 4px 0px var(--color-white-30), inset -4px -4px 4px 0px var(--color-black-30);
            transition: scale 0.35s;
            &:hover{
                scale: 0.9;
            }
        }
    }
}